---
layout: "layouts/content.njk"
permalink: "/about/"
pageIndex: all
type: about
eleventyComputed:
  title: "{{ about.title }}"
  description: "{{ about.description }}"
image: '/images/banners/about.jpg'
pagefind:
  type: Page
tags:
  - noTopic
---

<div class="l-stack-basic">
  {{ about.content | md | safe }}
</div>