---
layout: "layouts/content.njk"
permalink: "/about/"
pageIndex: all
type: about
eleventyComputed:
  title: "{{ about.title }}"
  pageDescription: "{{ about.pageDescription }}"
  description: "{{ about.metaDescription }}"
banner:
  image: /images/banners/about.jpg
  mask: /images/banners/mask4.svg
  circle: /images/banners/banner-circle-3.svg
pagefind:
  type: Page
tags:
  - noTopic
---

<div class="l-stack-basic">
  {{ about.content | md | safe }}
</div>