---
permalink: theme.css
eleventyExcludeFromCollections: true
---
{% set css %}
{% include "css/fontface.css" %}
{% include "css/root.css" %}
{% include "css/base.css" %}
{% include "css/normalize.css" %}
{% include "css/layout.css" %}
{% include "css/typography.css" %}

{% include "css/components/button.css" %}
{% include "css/components/footer.css" %}
{% include "css/components/icon-animation.css" %}
{% include "css/components/nametag.css" %}
{% include "css/components/navbar.css" %}
{% include "css/components/page-banner.css" %}
{% include "css/components/resource-card.css" %}
{% include "css/components/story-card.css" %}
{% include "css/components/strategy-card.css" %}
{% include "css/components/topic-card.css" %}
{% endset %}
{{ css | cssmin | safe }}