---
layout: "layouts/content.njk"
title: Topics
description: The playbook provides strategies to prevent family separation and improve outcomes for children and youth. Each strategy includes guidance, examples, and resources for implementing it in your location.
image: /images/banners/home.jpg
pagefind:
  type: Page
tags:
  - noTopic
---

<div class="l-grid topic-grid">
{%- for topic in collections.topics -%}
{% unless topic.url == false %}
{%- include "components/topic-card.liquid",
  url: topic.url,
  id: topic.data.id,
  icon: topic.data.icon,
  title: topic.data.title,
  summary: topic.data.summary
-%}
{% endunless %}

{%- endfor -%}
</div>