---
eleventyExcludeFromCollections: true
---

{%- macro resourceCard(params) -%}

{% if params.filetype == "pdf" %}
  {% set cardIcon = "file-pdf" %}
{% elif params.filetype == "doc" %}
  {% set cardIcon = "file-doc" %}
{% else %}
  {% set cardIcon =  "link" %}
{% endif %}

{% if params.file %}
  {% set link = params.file %}
{% else %}
  {% set link = params.url %}
{% endif %}

<a href="{{ link }}" class="resource-card" data-has-icon data-type="{{ params.type }}">
  <h3 class="resource-card-header h5">{% icon cardIcon %}{{ params.title | safe }}</h3>
  <div class="resource-card-body">{{ params.description | md | safe }}</div>
  <p class="resource-card-cta">
    {%- if params.file -%}
    <span class="icon-animation download-animation">
      {% icon 'download-simple-arrow', 'card-download-arrow' %}
      {% icon 'download-simple-box' %}
    </span>
    Download
    {%- else -%}
    <span class="icon-animation learn-more-animation">
      {% icon 'learn-more-circle' %}
      {% icon 'learn-more-arrow', 'card-learn-arrow' %}
    </span>
    Learn more
  {%- endif -%}
  </p>
</a>
{%- endmacro -%}