{%- macro resourceCard(params) -%}

{% if filetype == "pdf" %}
  {% set cardIcon = "file-pdf" %}
{% elif filetype == "doc" %}
  {% set cardIcon = "file-doc" %}
{% else %}
  {% set cardIcon =  "link" %}
{% endif %}

<a href="{{ params.url }}" class="card" data-type="{{ params.type }}">
  <h3 class="card-header h5">{% icon cardIcon %}{{ params.title | safe }}</h3>
  <div class="card-body">{{ params.description | md | safe }}</div>
  <p class="card-cta">
    <span class="download-animation">
      {% icon 'download-simple-arrow', 'card-download-arrow' %}
      {% icon 'download-simple-box' %}
    </span>
    Download
  </p>
</a>
{%- endmacro -%}