---
eleventyExcludeFromCollections: true
---

{%- from '_macros/story-card.njk' import storyCard -%}

{% macro storyList(params) %}

{%- if params.headerLevel %}
  {%- set headerLevel = params.headerLevel -%}
{%- else -%}
  {%- set headerLevel = "2" -%}
{%- endif -%}

{%- set storyData -%}
{%- for relatedStory in params.stories -%}
  {%- for item in collections.stories -%}
    {%- if item.data.title === relatedStory -%}
      {{ storyCard({
          image: story.data.image,
          type: story.data.type,
          title: story.data.title,
          description: story.data.description,
          author: story.data.author,
          date: story.date,
          featured: false,
          url: story.url
        })
      }}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
{%- endset -%}

{%- if storyData !=="" -%}
  <h{{ headerLevel }}>{{ params.title }}</h{{ headerLevel }}>
  {{ storyData | safe }}
{%- endif -%}
{% endmacro %}