---
eleventyExcludeFromCollections: true
---

{%- macro storyCard(params) -%}
  <div class="story-card-wrapper">
    <a class="story-card" href="{{ params.url }}">
      <span class="nametag-badge subhead">{{ params.type }}</span>
      <img src="{{ params.image }}" alt="" />
      <div class="story-card-content">
        <h3>{{ params.title }}</h3>
        <p>{{ params.description }}</p>
        <p class="story-card-meta subhead">Written by {{ params.author }} on {{ params.date | humanDate }}</p>
      </div>
    </a>
  </div>
{%- endmacro -%}