<footer class="footer">
  <div class="footer-img"></div>
  <div class="l-wrapper">
    <div class="l-stack-basic">
      <h2>We’re a work in progress.</h2>
      <p>Is there anything you think we should change?</p>
      <p>Let us know.</p>
      <p><a href="#" class="button">Contribute</a></p>
      <p class="footer-copyright subhead"> &copy;{{ helpers.currentYear() }}  •   Designed and developed by Bloom Works</p>
    </div>
  </div>
</footer>