\<footer class="footer">
  <div class="l-wrapper">
    <div class="footer-inner">
      <div class="footer-content">
        <p class="footer-copyright subhead"> &copy;{{ helpers.currentYear() }}  •   Designed and developed by Bloom Works</p>
      </div>
    </div>
  </div>
</footer>