<footer class="footer">
  <div class="footer-img"></div>
  <div class="l-wrapper">
    <div class="l-stack-basic">
      <h2>{{ footer.title }}</h2>
      {{ footer.description | md | safe}}
      <p><a href="{{ footer.buttonURL }}" class="button">{{ footer.buttonText }}</a></p>
      <p class="footer-copyright subhead">&copy;{{ helpers.currentYear() }}  •   {{ footer.credit }}</p>
    </div>
  </div>
</footer>