<header class="nav">
  <nav class="l-wrapper">
    <div class="nav-inner">
      <h1>
        <a href="/" class="nav-logo" id="nav-logo"><span class="sr-only">Child Welfare Playbook</span></a>
      </h1>
      <button class="nav-hamburger" id="nav-button" aria-controls="mobile-menu">
        <span class="sr-only">Open main menu</span>
        <span data-nav-closed>
  {% icon 'x' %}
</span>

<span data-nav-open>
  {% icon 'list' %}
</span>
      </button>
      <div class="nav-mobile-menu" data-hidden id="mobile-menu">
        <ul class="l-cluster">
          {% for link in navigation.items %}
          <li>
            <a href="{{ link.url }}"{% if link.url == page.url %} class="active"{% endif %}>
              {{ link.text }}
              {% if link.icon %}
              {{ link.icon | safe }}
              {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>