:root {
  /* Theme colors */
  --c-blue: #0052AF;
  --c-c-gray-darkest: #596573;
  --c-gray-darker: #687686;
  --c-gray-dark: #8C98A6;
  --c-gray-lighter: #E5E8EB;
  --c-light-blue: #CFE5FF;
  --c-lighter-blue: #F8FBFF;
  --c-link-text: var(--c-blue);
  --c-white: #fff;
  --bg-graph-paper: #FBFCFD url("/images/header-bg.svg") center center;

  /* Text colors */
  --c-headline: #3A4450;
  --c-base: #575B60;
  --c-secondary: #6e737a;

  /* Border radius */
  --radius-lg: 0.5rem;

  /* Typography */
  --font-primary: "Libre Franklin", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-secondary: "Space Mono", monospace;

  --font-normal: 400;
  --font-bold: 700;
  --font-black: 800;

  --font-sm-size: 0.875rem;
  --font-sm-leading: 1.25rem;

  --font-base-size: 1rem;
  --font-base-leading: 1.5rem;

  --font-lg-size: 1.125rem;
  --font-lg-leading: 1.75rem;

  --font-xl-size: 1.25rem;
  --font-xl-leading: 1.75rem;

  --font-2xl-size: 1.563rem;
  --font-2xl-leading: 2.25rem;

  --font-3xl-size: 1.953rem;
  --font-3xl-leading: 2.5rem;

  --font-4xl-size: 2.441rem;
  --font-4xl-leading: 3rem;

  --font-5xl-size: 3.052rem;
  --font-5xl-leading: 3.5rem;

  /* Spacing */
  --rhythm: 0.3125rem;

  --l-stack-gap: 1.25rem;
  --t-paragraph: 1.25rem;

  /* Layout widths */

  --t-measure: 55ch; /* Typographic measure */
  --w-container: 90%;
  --w-content-max: 60rem;
  --w-max: 80rem;
  --g-column-gap: calc(var(--t-paragraph) * 1.5);

  /* Padding between sections */

  --section-padding: var(--font-base-leading);
  --section-margin: var(--t-paragraph);
}

*,
::before,
::after {
  box-sizing: border-box;
  /* Add borders in devtools for easy layout debugging */
  border-width: 0;
  border-style: solid;
  border-color: var(--c-gray-lighter);
}