.meeting-content {
  max-inline-size: var(--t-measure);
  margin-block-start: var(--l-stack-gap);
  justify-self: center;
}

@media (min-width: 60rem) {
  .meeting-grid {
    display: grid;
    grid-template-columns: 1fr calc(var(--t-measure) * 0.75);
    gap: var(--g-column-gap);
  }

  .meeting-content {
    margin: 0;
  }
}