.topic-grid {
  --grid-col-width: calc(var(--t-measure) * 0.75);
  max-inline-size: unset;
  align-content: center;
}

.topic-card {
  --header-color: var(--c-blue);
  text-decoration: none;
  padding: var(--t-paragraph) calc(var(--t-paragraph) * 1.5);
  transition: all 0.15s ease-out;
  position: relative;
  border-radius: var(--radius-lg);
  align-self: start;
}

.topic-card::before {
  position: absolute;
  content: "";
  inset: 0;
  border: 2px solid var(--c-blue);
  border-radius: var(--radius-lg);
  filter: url("#tornEdge");
  z-index: -1;
}

.topic-card div {
  display: flex;
  gap: 0.5rem;
  margin-block-end: var(--t-paragraph);
  align-items: center;
}

.topic-card div * {
  display: block;
  margin: 0;
  align-items: center;
}

.topic-card h2 {
  text-decoration: none;
  margin-block-start: 0;
  font-size: var(--font-xl-size);
  line-height: var(--font-xl-leading);
  color: var(--header-color);
}

.topic-card:hover {
  background: var(--c-blue);
  border-color: var(--c-blue);
  transform: scale(1.02);
}

.topic-card svg {
  fill: var(--header-color);
  inline-size: 2em;
  aspect-ratio: 1 / 1;
}

.topic-card:hover {
  --header-color: #fff;
}

.topic-card:hover p {
  color: #fff;
}

.strategy-list {
  padding: 0;
  list-style: none;
}