.footer {
  position: relative;
  overflow: hidden;
  background: var(--bg-graph-paper);
  padding-block: calc(var(--t-paragraph) * 3);
}

.footer :is(h2, p) {
  max-inline-size: unset;
}

.footer-img {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: -10vw;
}

.footer-divider {
  fill: var(--c-blue);
  margin-block: calc(var(--t-paragraph) * 2);
  margin-inline: auto;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--rhythm);
  padding-block: 2rem;
}

.footer-copyright {
    color: var(--c-blue);
    width: 100%;
    font-size: var(--font-sm-size);
    line-height: var(--font-sm-leading);
}

@media (min-width: 60rem) {
  .footer h2,
  .footer p {
    max-inline-size: 40vw;
    justify-self: start;
  }

  .footer-img {
    mask-position: 0 50%;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-image: url("/images/mask-footer.svg");
    background: url("/images/banners/contribute.jpg") right center no-repeat;
    background-size: cover;
  }
}