.footer {
  position: relative;
  overflow: hidden;
  background: url("/images/header-bg.svg");
  padding-block: calc(var(--t-paragraph) * 5);
}

.footer :is(h2, p) {
  max-inline-size: unset;
}

.footer-img {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: -10vw;
  background: url("/images/banners/contribute.jpg") center center no-repeat;
  background-size: cover;
}

@media (min-width: 48rem) {
  .footer-img {
    mask-position: 0 50%;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-image: url("/images/mask-footer.svg");
  }
}

.footer-divider {
  fill: var(--c-blue);
  margin-block: calc(var(--t-paragraph) * 2);
  margin-inline: auto;
}

.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--rhythm);
    padding-block: 2rem;
}

.footer li {
  padding: 0;
}

.footer h3 {
    margin-block-end: 1rem;
    opacity: 0.8;
}

.footer-logos {
    display: flex;
    flex-direction: column;
}

.footer-copyright {
    color: var(--c-blue);
    width: 100%;
    font-size: var(--font-sm-size);
    line-height: var(--font-sm-leading);
}

@media (min-width: 768px) {
    .footer ul {
        flex-wrap: nowrap;
        inline-size: max-content;
    }
}