/* Banner with image on main section pages (e.g. "All Topics") */
.page-banner {
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: right center;
  padding-block: calc(var(--font-base-leading) * 3);
  background-size: cover;
  position: relative;
  overflow: hidden;
  background: url("/images/header-bg.svg");
}

.page-banner::before {
  content: "";
  position: absolute;
  inset-block-end: calc(var(--t-paragraph) * -2);
  inset-inline-end: 0;
  opacity: 0.15;
  background: url("images/banners/bg-scribble.svg") center bottom no-repeat;
  background-size: contain;
  block-size: 100%;
  inline-size: 60vw;
}

.page-banner-img {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: -10vw;
  background: var(--background) center center no-repeat;
  background-size: cover;
  mask: url("/images/banners/mask.svg") no-repeat;
  mask-size: cover;
  mask-position: 50% 15%;
}

.page-banner-img::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: url("/images/banners/banner-circle-1.svg") center center no-repeat;
  background-size: contain;
  mix-blend-mode: overlay;
}

.page-banner .l-wrapper {
    position: relative;
    z-index: 3;
}

.page-banner h2,
.page-banner p {
  max-inline-size: 40vw;
}

.page-banner p {
    text-wrap: balance;
}

.page-banner h1 {
    text-align: left;
    color: var(--c-base);
    max-inline-size: 38ch;
}

.page-banner[data-type="story"] {
  background-image: var(--story-gradient),
                    var(--bg-image);
}

.page-banner[data-bg-image] h1 {
    max-inline-size: 48rem;
}

.page-banner[data-bg-color="dark"] *,
.page-banner[data-type="story"] * {
    color: #fff;
}

.page-banner-topic h1 {
    color: var(--t-base);
}

.page-banner-subhead {
    margin-block-start: 0.5rem;
}