/* Banner with image on main section pages (e.g. "All Topics") */
.page-banner {
  padding-block: calc(var(--font-base-leading) * 3);
  background: var(--bg-graph-paper);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.page-banner::before {
  content: "";
  position: absolute;
  inset-block-end: calc(var(--t-paragraph) * -2);
  inset-inline-end: 0;
  opacity: 0.15;
  background: url("images/banners/bg-scribble.svg") center bottom no-repeat;
  background-size: contain;
  block-size: 100%;
  inline-size: 60vw;
}

.page-banner[data-type="topic"]::before {
  background-image: url("/images/banners/bg-scribble-light.svg");
  mix-blend-mode: overlay;
  z-index: 3;
  opacity: 1;
}

.page-banner-img {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  right: -10vw;
}

.page-banner-img::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  background: url("/images/banners/banner-circle-1.svg") center center no-repeat;
  background-size: contain;
  mix-blend-mode: overlay;
}

[data-type="search"] .page-banner-img::after {
  background-image: url("/images/banners/banner-circle-5.svg");
}

[data-type="about"] .page-banner-img::after {
  background-image: url("/images/banners/banner-circle-3.svg");
  background-size: cover;
}

[data-type="story"] .page-banner-img::after {
  background-image: url("/images/scribbles/story.svg");
  inset-block-end: 30%;
  background-position: right top;
}

[data-type="topic"] .page-banner-img::after {
  content: none;
}

.page-banner .l-wrapper {
    position: relative;
    z-index: 3;
}

.page-banner:not[data-type="strategy"] :is(p, h1, h2) {
  max-inline-size: var(--t-measure);
}

.page-banner h1,
.page-banner .h1 {
    text-align: left;
    max-inline-size: 38ch;
    margin-block-start: 0;
}

.page-banner p {
    text-wrap: balance;
}


.page-banner[data-type="strategy"] .l-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: var(--t-paragraph);
}

.nametag {
  position: relative;
  inline-size: max-content;
  max-inline-size: 75ch;
}

.nametag-badge {
  position: absolute;
  inset-block-end: calc(100% - var(--rhythm) * 2);
  z-index: 2;
  background: var(--c-blue);
  border-radius: 1em;
  padding: var(--rhythm) calc(var(--rhythm) * 2);
  color: #fff;
  transform: rotate(-2deg);
}

.nametag-text {
  margin-block-start: 0;
  padding: var(--t-paragraph);
  background: #fff;
  border: 2px solid var(--c-blue);
  color: var(--c-blue);
  border-radius: var(--radius-lg);
  display: flex;
  gap: 1em;
  align-items: center;
}

.nametag-text h2 {
  margin: 0;
}

.nametag-text svg {
  fill: var(--c-blue);
  inline-size: var(--font-5xl-size);
  block-size: var(--font-5xl-size);
  position: relative;
  left: -0.25rem;
}

.page-topics i {
  font-style: normal;
  color: var(--c-blue);
  vertical-align: text-top;
}

.page-topics ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  gap: 1rem;
}

.page-topics li {
  list-style: none;
  padding: 0;
}

.page-topics a {
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: calc(var(--radius-lg) * 2);
  border: 1px solid var(--c-blue);
  background: var(--c-light-blue);
  padding: 0.375rem 0.75rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.06);
  white-space: nowrap;
}

.page-topics svg {
  inline-size: 1.5rem;
  display: block;
  position: relative;
  margin-inline-end: 0.5rem;
  aspect-ratio: 1 / 1;
  fill: var(--c-blue);
  flex: none;
}


.page-banner-topic h1 {
    color: var(--t-base);
}

.page-banner-subhead {
    margin-block-start: 0.5rem;
}

.page-banner-back {
  display: flex;
  color: var(--c-blue);
  font-weight: 700;
  text-decoration: none;
  gap: 1em;
}

.page-banner-back svg {
  inline-size: 1.5em;
  block-size: 1.5em;
  fill: currentColor;
}

@media (min-width: 60rem) {
  .page-banner:not([data-type="strategy"]) :is(h2, h1, .h1) {
    max-inline-size: 40vw;
  }

  .page-banner-img {
    mask-position: 0 15%;
    mask-size: cover;
    mask-repeat: no-repeat;
    background: var(--background) center center no-repeat;
    background-size: cover;
    mask-image: url("/images/banners/mask.svg");
  }

  [data-type="search"] .page-banner-img {
    mask-image: url("/images/banners/mask2.svg");
  }

  [data-type="topic"] .page-banner-img {
    mask-image: url("/images/banners/mask3.svg");
  }

  [data-type="story"] .page-banner-img {
    mask-image: url("/images/banners/mask-story.svg");
  }

  [data-type="about"] .page-banner-img {
    mask-image: url("/images/banners/mask4.svg");
  }
}