.story-list-wrapper {
  margin-block-start: calc(var(--font-base-leading) * 1.5);
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
}

@media (min-width: 60rem) {
  .story-list-wrapper {
    grid-template-columns: repeat(auto-fit, calc(var(--t-measure) * 0.75));
  }
}

@media (min-width: 80rem) {
  .story-list-wrapper {
    grid-template-columns: repeat(auto-fit, var(--t-measure));
  }
}


.story-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.story-card p,
.story-card-meta {
  color: var(--c-base);
}

.story-card:not([data-featured])::before,
.story-card-content:not([data-featured])::before {
  --border: 2px solid var(--c-blue);
  position: absolute;
  content: "";
  inset: 0;
  filter: url("#tornEdge");
  z-index: 2;
  pointer-events: none;
}

.story-card::before {
  border: var(--border);
  border-radius: var(--radius-lg);
}

.story-card:not([data-featured]) .story-card-content::before {
  border-block-start: var(--border);
}

.story-card-content {
  position: relative;
}

.story-card:not([data-featured]) .story-card-content * {
  padding-block: calc(var(--t-paragraph) / 2);
  padding-inline: var(--t-paragraph);
}

.story-card {
  text-decoration: none;
}

.story-card .nametag {
  margin-block-start: var(--font-base-leading);
}

.story-card-image {
  position: relative;
  block-size: fit-content;
}

.story-card img {
  block-size: calc(var(--t-paragraph) * 10);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.story-card:not([data-featured]) .nametag-badge {
  color: var(--c-blue);
  background: var(--c-light-blue);
  border: 2px solid currentColor;
}

.story-card:not([data-featured]) h3 {
  margin-block: 0;
  background: var(--c-blue);
  color: #fff;
  font-size: var(--font-xl-size);
  line-height: var(--font-xl-leading);
  text-balance: none;
  inline-size: 100%;
}

.story-card-meta {
  font-size: var(--font-sm-size);
  display: flex;
  gap: 1.5rem;
}

.story-card[data-featured] {
  flex-direction: row;
  gap: var(--g-column-gap);
}

.story-card[data-featured] h3 {
  margin-block: 0;
}

.story-card[data-featured] img {
  mask: url("/images/mask-story-thumbnail.svg") center center no-repeat;
  mask-size: cover;
}