.story-list-wrapper {
  --l-stack-gap: calc(var(--font-base-leading) * 3);
}

.story-card {
  display: flex;
  gap: var(--g-column-gap);

  * {
    text-decoration: none;
  }
}

.story-card-image {
  position: relative;
  block-size: fit-content;
}

.story-card img {
  block-size: calc(var(--font-base-leading) * 6);
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  mask: url("/images/mask-story-thumbnail.svg") center center no-repeat;
  mask-size: cover;
}

.story-card-badge {
  border-end-start-radius: var(--radius-lg);
  border-start-end-radius: var(--radius-lg);
  padding: 0.25rem 0.5rem;
  background: var(--c-blue);
  color: var(--c-white);
  font-weight: var(--font-bold);
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  font-size: var(--font-sm-size);
}

.story-card h3 {
  margin-block: 0;
}

.story-card-meta {
  font-size: var(--font-sm-size);
  display: flex;
  gap: 1.5rem;
}