.story-list-wrapper {
  margin-block-start: calc(var(--font-base-leading) * 1.5);
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
}

.story-card-wrapper {
  container-type: inline-size;
}


.story-card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: var(--radius-lg);
  max-inline-size: calc(var(--t-measure) * 2.25);
}

.story-card,
.story-card * {
  transition: all 0.15s ease-out;
}

.story-card:is(:hover, :focus) {
  scale: 1.02;
}

.story-card:active {
  scale: 0.99;
}

.story-card:is(:hover, :focus) .story-card-content {
  background: var(--c-blue);
  border-end-start-radius: var(--radius-lg);
  border-end-end-radius: var(--radius-lg);
}

.story-card:is(:hover, :focus) .story-card-content * {
  color: var(--c-white);
}

.story-card-content {
  position: relative;
  padding-block: calc(var(--t-paragraph) / 2);
  background: var(--c-lighter-blue);
  border-radius: 0;
  border-start-end-radius: var(--radius-lg);
  border-end-start-radius: var(--radius-lg);
}

.story-card p {
  color: var(--c-base);
}

.story-card-meta {
  color: var(--c-secondary);
}

.story-card::before,
.story-card-content::before {
  --border: 2px solid var(--c-blue);
  position: absolute;
  content: "";
  inset: 0;
  filter: url("#tornEdge");
  z-index: 2;
  pointer-events: none;
}

.story-card::before {
  border: var(--border);
  border-radius: var(--radius-lg);
}

.story-card-content::before {
  border-block-start: var(--border);
}

.story-card-content * {
  padding-block: calc(var(--t-paragraph) / 2);
  padding-inline: var(--t-paragraph);
}

.story-card {
  text-decoration: none;
}

.story-card picture {
  --img-size: calc(var(--t-paragraph) * 10);
  block-size: var(--img-size);
  object-fit: cover;
  display: block;
}

.story-card h3 {
  margin-block: 0;
  color: var(--c-blue);
  font-size: var(--font-xl-size);
  line-height: var(--font-xl-leading);
  inline-size: 100%;
}

.story-card-meta {
  font-size: var(--font-sm-size);
  display: flex;
  gap: 1.5rem;
}

@media (min-width: 60rem) {
  .story-list-wrapper {
    grid-template-columns: repeat(auto-fit, calc(var(--t-measure) * 0.75));
  }
}

@container (inline-size > 60rem) {
  .story-card {
    flex-direction: row;
    transform-origin: 0 50%;
  }

  .story-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: var(--t-paragraph);
    flex: 1;
  }

  .story-card-content::before {
    border-block-start: none;
    border-inline-start: var(--border);
  }

  .story-card picture {
    block-size: unset;
    inline-size: var(--img-size);
    border-start-start-radius: var(--radius-lg);
    border-end-start-radius: var(--radius-lg);
    overflow: hidden;
    flex-shrink: 0;
  }

  .story-card h3 {
    color: var(--c-blue);
    background: none;
    font-size: var(--font-3xl-size);
    line-height: var(--font-3xl-leading);
  }

  .story-card p {
    max-inline-size: calc(var(--t-measure) * 1.25);
  }
}