.card {
  --border-width: 3px;
  --inner-radius: calc(var(--radius-lg) - var(--border-width));
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-decoration: none;
  position: relative;
  border-radius: var(--radius-lg);
}

.card::before {
  position: absolute;
  inset: 0;
  content: "";
  border: var(--border-width) solid var(--c-blue);
  border-radius: var(--radius-lg);
  filter: url("#tornEdge");
}

.card {
  transition: scale 0.1s ease-out;
}

.card:is(:focus, :hover) {
  scale: 1.03;
}

.card:active {
  scale: 1.01;
}

.card svg {
  inline-size: 1.5em;
  block-size: 1.5em;
  display: block;
}

.card-header {
  background: var(--c-blue);
  gap: 0.5rem;
  color: #fff;
  align-items: start;
}

.card-header svg {
  inline-size: 1.5em;
  block-size: 1.5em;
  fill: currentColor;
}

.card > * {
  padding: 0.5rem 1rem;
  inline-size: 100%;
  max-inline-size: 100%;
  margin: 0;
}

.card-header,
.card-cta {
  display: flex;
  font-weight: var(--font-bold);
}

.card-cta {
  color: var(--c-blue);
  background: var(--c-light-blue);
  align-items: center;
}

@keyframes topic-arrow {
  from {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(0.25rem);
  }
}

@keyframes download-arrow-initial {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-0.375rem);
  }
}

@keyframes download-arrow {
  from {
    transform: translateY(-0.375rem);
  }
  to {
    transform: translateY(0.0625rem);
  }
}

@keyframes learn-arrow-initial {
  from {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(-0.0625rem);
  }
}

@keyframes learn-arrow {
  from {
    transform: translateX(-0.0625rem);
  }
  to {
    transform: translateX(0.0625rem);
  }
}


:is(.card, .resource-download):is(:hover, :focus) .card-topic-arrow {
  animation: topic-arrow 0.5s cubic-bezier(0.61, 1, 0.88, 1) infinite alternate;
}

:is(.card, .resource-download):is(:hover, :focus) .card-download-arrow {
  animation-name: download-arrow-initial, download-arrow;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
}

:is(.card, .resource-download):is(:hover, :focus) .card-learn-arrow {
  animation-name: learn-arrow-initial, learn-arrow;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
}


[data-type="resource"]::before {
  position: absolute;
  content: "";
  inset: 0;
  border: 3px solid var(--c-blue);
  border-radius: var(--radius-lg);
  filter: url("#tornEdge");
  z-index: -1;
}

[data-type="resource"] .card-header {
  background: var(--c-blue);
  color: #fff;
}

[data-type="resource"] .card-cta {
}

.card-header {
  border-start-start-radius: var(--inner-radius);
  border-start-end-radius: var(--inner-radius);
}

.card-body,
.card-cta {
  font-size: var(--font-sm-size);
  line-height: var(--font-sm-leading);
}

.card-body {
  font-weight: var(--font-normal);
  text-align: left;
  flex: 1;
  padding-block: 0.75rem;
  color: var(--c-base);
}

.card-cta {
  padding-block: 0.5rem;
  border-end-start-radius: var(--inner-radius);
  border-end-end-radius: var(--inner-radius);
  gap: 0.375rem;
}

.icon-animation {
  position: relative;
  overflow: hidden;
  inline-size: 1.5em;
  block-size: 1.5em;
}

.icon-animation * {
  position: absolute;
  inset: 0;
  margin: 0;
  fill: currentColor;
}

/* Play card */

.strategy-card {
  padding: 0;
  --l-stack-gap: 0.5rem;
}

.strategy-card a {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  translate: -1rem 0;
  border-radius: var(--radius-lg);
  font-weight: var(--font-bold);
  color: var(--c-blue);
  text-decoration: none;
  border-block-end: 1px solid;
  border-color: transparent;
  transition: scale 0.1s ease-out,
              background 50ms ease-out,
              color 50ms ease-out,
              border-color 150ms ease-out;
}


@keyframes arrowWiggle {
  to {
    transform: translateX(-0.25rem)
  }
}

.strategy-card a:is(:focus, :hover) {
  background: #CFE6FF;
  scale: 1.01;
}

.strategy-card a:is(:focus, :hover) svg {
  animation: arrowWiggle 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) alternate infinite;
}

.strategy-card a:active {
  scale: 1.02;
}


.strategy-card span {
  flex: 1;
}

.strategy-card svg {
  inline-size: 1.5rem;
  block-size: 1.5rem;
  fill: currentColor;
  flex: none;
}