.subhead {
  font-family: var(--font-secondary);
  font-size: var(--font-sm-size);
  line-height: var(--font-sm-leading);
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.strategy-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: calc(var(--t-paragraph) * 3);
}

.strategy-header span {
  position: absolute;
  inset-block-end: calc(100% - var(--rhythm) * 2);
  z-index: 2;
  background: var(--c-blue);
  border-radius: 1em;
  padding: var(--rhythm) calc(var(--rhythm) * 2);
  color: #fff;
  transform: rotate(-2deg);
}

.strategy-header h2 {
  margin-block-start: 0;
  padding: var(--t-paragraph);
  background: #fff;
  border: 1px solid var(--c-blue);
  color: var(--c-blue);
  border-radius: var(--radius-lg);
  max-inline-size: 33rem;
}

.topic-list {
  padding: calc(var(--rhythm) * 3) calc(var(--rhythm) * 6);
  border-radius: var(--radius-lg);
  border: 1px solid var(--c-blue);
}

.topic-list i {
  font-style: normal;
  color: var(--c-blue);
  vertical-align: text-top;
}

.topic-list li {
  list-style: none;
}

.topic-list a {
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: calc(var(--radius-lg) * 2);
  border: 1px solid var(--c-blue);
  background: var(--c-light-blue);
  padding: 0 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.06);
}

.topic-list a * {
  inline-size: 1.5rem;
  display: block;
}

.topic-list svg {
  position: relative;
  top: 0.25rem;

  margin-inline-end: 0.5rem;
  aspect-ratio: 1 / 1;
  fill: var(--c-blue);
}

.topic-list h3 {

}