---
layout: layouts/default.njk
---

{%- from '_macros/page-banner.njk' import pageBanner with context -%}

{{ pageBanner({
  type: type,
  header: title,
  image: banner.image,
  mask: banner.mask,
  circle: banner.circle
  })
}}

<div class="l-wrapper">
  <div class="l-section">
    <div class="l-wrapper-text">
      {{ content | md | safe }}
    </div>
  </div>
</div>