---
layout: layouts/default.njk
pageIndex: all
---

<div class="page-banner" data-type="dashboard">
  <div class="l-wrapper">
    <div class="l-stack-basic">
      <div class="nametag">
        <span class="nametag-badge subhead">Dashboard</span>
        <div class="nametag-text">
          <h2 class="h1" data-pagefind-weight="9">{{ title }}</h2>
        </div>
      </div>
      {% if description %}<p>{{ description }}</p>{% endif %}
      {% if tags and tags.length <= 2 %}
        {% for tag in tags %}
          {% if tag != "dashboard" %}<p><a href="/topics/{{ tag }}" class="page-banner-back subhead">{% icon "arrow-u-up-left" %} Back to topic</a></p>{% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="page-banner-img" style="--background: url('/images/banners/dashboard.jpg')"></div>
</div>

<div class="l-wrapper">
  <div class="l-section">
    {{ content | md | safe }}
  </div>
</div>

<span hidden data-pagefind-meta="title">Dashboard: {{ title }}</span>


{% set pageCss %}
  {% include "css/components/dashboard-card.css" %}
{% endset %}

<style>{{ pageCss | cssmin | safe }}</style>