---
layout: layouts/default.njk
pageIndex: all
eleventyComputed:
  description: "{{ meetingsDashboards.dashboardsMetaDescription }}"
  backLinkUrl: "{%- if tags and tags.length <= 2 -%}{%- for tag in tags -%}{%- if tag != 'dashboard' -%}/topics/{{ tag }}{%- endif -%}{%- endfor -%}{%- endif -%}"
  pagefindTitle: "Dashboard: {{ title }}"
  pageCss: "{% include 'css/components/dashboard-card.css' %}"
banner:
  image: /images/banners/dashboard.jpg
---

{%- from '_macros/page-banner.njk' import pageBanner with context -%}
{%- from '_macros/resource-card.njk' import resourceCard -%}
{%- from '_macros/topic-card.njk' import topicCard %}
{%- from '_macros/story-card.njk' import storyCard %}

{{ pageBanner({
  type: "dashboard",
  header: title,
  pagefindTitle: pagefindTitle,
  badge: "Dashboard",
  image: banner.image,
  backLinkUrl: backLinkUrl,
  backLinkText: "Back to topic"
  })
}}

<div class="l-wrapper">
  <div class="l-section">
    {{ content | md | safe }}
  </div>
</div>