<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BD5D9CN7F7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BD5D9CN7F7');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if title %}{{title}} | {% endif %}Child Welfare Playbook
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% if image %}
      <meta data-pagefind-default-meta="image[content]" content="{{ image }}" property="og:image">
    {% elif pagefind.image %}
      <meta data-pagefind-default-meta="image[content]" content="{{ pagefind.image }}" property="og:image">
    {% endif %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,800;1,400;1,800&family=Space+Mono&display=swap" rel="stylesheet"><link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="preload" href="/images/header-bg.svg" as="image">
    <link rel="apple-touch-icon" href="/favicon-180.png">
    {% if video %}
      <link rel="stylesheet" href="https://cdn.plyr.io/3.8.3/plyr.css" />
      <script src="https://cdn.plyr.io/3.8.3/plyr.js"></script>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/theme.css"/>
  </head>
  <body{% if class %} class="{{ class }}"{% endif %}{% if type %} data-type="{{ type }}"{% endif %}>
    <svg class="sr-only">
    <defs>
      <filter id="tornEdge">
        <feTurbulence type="fractalNoise" id="turbulence" baseFrequency=".3" numOctaves="3"></feTurbulence>
        <feDisplacementMap id="displacement" in="SourceGraphic" scale="1.3"></feDisplacementMa>
      </filter>
      <filter id="tornEdgeSmall">
        <feTurbulence type="fractalNoise" id="turbulence" baseFrequency=".1" numOctaves="2"></feTurbulence>
        <feDisplacementMap id="displacement" in="SourceGraphic" scale="2"></feDisplacementMa>
      </filter>
    </defs>
  </svg>
    {% include "partials/navbar.njk" %}

    {%- set pagefindTopics -%}
      {%- if tags -%}
        {%- if tags.length == 1 and (tags | first == "resource" or tags | first == "story" or  tags | first == "dashboard" or tags | first == "topic" or tags | first == "meeting") %}
          <span data-pagefind-filter="topics">noTopic</span>
        {%- else -%}
          {%- for tag in tags -%}
            {%- if tag == "noTopic" -%}
              <span data-pagefind-filter="topics">noTopic</span>
            {%- else -%}
              {%- for topic in collections.topics -%}
                {%- if topic.data.id == tag -%}
                  <span data-pagefind-filter="topics">{{ topic.data.title }}</span>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- else -%}
        <span data-pagefind-filter="topics">noTopic</span>
      {%- endif -%}
    {%- endset -%}

    <div class="content" {% if pageIndex == "all" %}data-pagefind-body{% endif %}>
      {{ content | md | safe }}
    </div>
    {% include "partials/footer.njk" %}

    {%- if pagefind -%}
      <div hidden>
        {% if pagefind.type %}<span data-pagefind-filter="pageType">{{ pagefind.type }}</span>{% endif %}
        {{ pagefindTopics | safe }}
      </div>
    {%- endif -%}

    {% svgsprite %}
    <script src="/js/script.js"></script>
  </body>
</html>