<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BD5D9CN7F7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BD5D9CN7F7');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if title %}{{title}} | {% endif %}Child Welfare Playbook
    </title>
    <meta property="og:site_name" content="Child Welfare Playbook" />
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% if image %}
      <meta data-pagefind-default-meta="image[content]" content="{{ image }}" property="og:image">
    {% elif pagefind.image %}
      <meta data-pagefind-default-meta="image[content]" content="{{ pagefind.image }}" property="og:image">
    {% else %}
      <meta data-pagefind-default-meta="image[content]" content="./open-graph.jpg" property="og:image">
    {% endif %}

    {% if pagefind.type %}
      <meta data-pagefind-default-meta="type" property="{{ pagefind.type }}">
    {% endif %}

    {% if pagefind.title %}
      <meta data-pagefind-default-meta="title[content]" content="{{ pagefind.title }}" property="{{ title }}">
    {% endif %}

    {% if pagefind.type === "Strategy" or pagefind.type === "Story" %}
      <meta property="og:type" content="article">
    {% else %}
      <meta property="og:type" content="website">
    {% endif %}

    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="preload" href="/images/header-bg.svg" as="image">
    <link rel="preload" href="/images/banners/bg-scribble.svg" as="image">
    {% if image %}<link rel="preload" href="{{ image }}" as="image">{% endif %}
    <link rel="apple-touch-icon" href="/favicon-180.png">
    <link rel="stylesheet" type="text/css" href="/theme.css"/>
    {% if video %}
      <script type="module" src="/js/lite-youtube.js"></script>
      <style>
        lite-youtube::part(playButton) {
          background: var(--c-blue);
          opacity: 0.93;
          border-radius: 50%;
          block-size: 7em;
          inline-size: 7em;
        }

        lite-youtube::part(playButton)::before {
          border: none;
          background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20256%22%3E%3Crect%20width%3D%22256%22%20height%3D%22256%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M72%2C39.88V216.12a8%2C8%2C0%2C0%2C0%2C12.15%2C6.69l144.08-88.12a7.82%2C7.82%2C0%2C0%2C0%2C0-13.38L84.15%2C33.19A8%2C8%2C0%2C0%2C0%2C72%2C39.88Z%22%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%2216%22%2F%3E%3C%2Fsvg%3E") center center no-repeat;
          block-size: 3em;
          inline-size: 3em;
          background-size: cover;
        }
    </style>
  {% endif %}
  </head>
  <body{% if class %} class="{{ class }}"{% endif %}{% if type %} data-type="{{ type }}"{% endif %}>
    <svg class="sr-only">
    <defs>
      <filter id="tornEdge">
        <feTurbulence type="fractalNoise" id="turbulence" baseFrequency=".3" numOctaves="3"></feTurbulence>
        <feDisplacementMap id="displacement" in="SourceGraphic" scale="1.3"></feDisplacementMa>
      </filter>
      <filter id="tornEdgeSmall">
        <feTurbulence type="fractalNoise" id="turbulence" baseFrequency=".1" numOctaves="2"></feTurbulence>
        <feDisplacementMap id="displacement" in="SourceGraphic" scale="2"></feDisplacementMa>
      </filter>
    </defs>
  </svg>
    {% include "partials/navbar.njk" %}

    {%- set pagefindTopics -%}
      {%- if tags -%}
        {%- if tags.length == 1 and (tags | first == "resource" or tags | first == "story" or  tags | first == "dashboard" or tags | first == "topic" or tags | first == "meeting") %}
          <span data-pagefind-filter="topics">noTopic</span>
        {%- else -%}
          {%- for tag in tags -%}
            {%- if tag == "noTopic" -%}
              <span data-pagefind-filter="topics">noTopic</span>
            {%- else -%}
              {%- for topic in collections.topics -%}
                {%- if topic.data.id == tag -%}
                  <span data-pagefind-filter="topics">{{ topic.data.title }}</span>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- else -%}
        <span data-pagefind-filter="topics">noTopic</span>
      {%- endif -%}
    {%- endset -%}

    <div class="content" {% if pageIndex == "all" %}data-pagefind-body{% endif %}>
      {{ content | md | safe }}
    </div>
    {% include "partials/footer.njk" %}

    {%- if pagefind -%}
      <div hidden>
        {% if pagefind.type %}<span data-pagefind-filter="pageType">{{ pagefind.type }}</span>{% endif %}
        {{ pagefindTopics | safe }}
      </div>
    {%- endif -%}

    {% svgsprite %}
    <script src="/js/script.js"></script>
  </body>
</html>