---
layout: layouts/default.njk
video: true
type: meeting
pageIndex: all
eleventyComputed:
  description: "{{ meetingsDashboards.meetingsMetaDescription }}"
  pageCss: "{% include 'css/pages/meetings.css' %}"
pagefind:
  type: Meeting
---
{%- from '_macros/page-banner.njk' import pageBanner with context -%}
{%- from '_macros/resource-list.njk' import resourceList with context -%}
{%- from '_macros/story-list.njk' import storyList with context %}
{%- from '_macros/topic-card.njk' import topicCard with context %}

{% set pagefindTitle %}{{ title }} community meeting{% endset %}

{{ pageBanner({
  type: type,
  pagefindTitle: pagefindTitle,
  header: title,
  badge: "Community meeting",
  tags: tags,
  topics: collections.topics,
  full: true,
  hideSubheader: true
  })
}}

<div class="l-wrapper">

<div class="l-section">
<div class="meeting-grid">
  <div>
    <lite-youtube videoid="{{ youtubeId }}"></lite-youtube>
  </div>

  <div class="meeting-content l-stack">
  <h3>What we discussed</h3>
  {{ content | md | safe }}

  {{ resourceList({title: "Related resources", resources: resources}) }}

  {{ storyList({title: "Related stories", stories: stories}) }}
  </div>
</div>
</div>
  </div>
</div>
</div>

</div>