---
layout: layouts/default.njk
pagefind:
  type: Resource
---

<div class="resource-detail">
  <div class="l-wrapper">
    <div class="nametag">
      <span class="nametag-badge subhead">Resource</span>
      <div class="nametag-text">
        <h2 data-pagefind-meta="title" data-pagefind-weight="9">{{ title }}</h2>
        {%- if content -%}
          <p data-pagefind-body>{{ content | md | safe }}</p>
        {%- endif -%}
      </div>
    </div>

    <h3 class="sr-only" data-pagefind-weight="0.5">Topics</h3>
    <ul class="page-topics" data-pagefind-weight="0.5">
      {%- for topic in collections.topics -%}
        {%- for tag in tags -%}
          {%- if topic.data.id == tag -%}
            <li><a href="{{ topic.url }}">{% icon topic.data.icon %} {{ topic.data.title }}</a></li>
            {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    </ul>

    <p>
      <a class="button resource-download" href="{{ url }}">
        <span>Download</span>
      </a>
    </p>

  </div>
</div>