---
layout: layouts/default.njk
pageIndex: all
eleventyComputed:
  pageCss: "{% include 'css/pages/resources.css' %}"
pagefind:
  type: Resource
---

<div class="resource-detail">
  <div class="l-wrapper">
    <div class="nametag">
      <span class="nametag-badge subhead">Resource</span>
      <div class="nametag-text">
        <h2 data-pagefind-meta="title" data-pagefind-weight="9">{{ title }}</h2>
        {%- if description -%}
          <p>{{ description | md | safe }}</p>
        {%- endif -%}
      </div>
    </div>

    <h3 class="sr-only" data-pagefind-weight="0.5">Topics</h3>
    <ul class="page-topics" data-pagefind-weight="0.5">
      {%- for topic in collections.topics -%}
        {%- for tag in tags -%}
          {%- if topic.data.id == tag -%}
            <li><a href="{{ topic.url }}">{% icon topic.data.icon %} {{ topic.data.title }}</a></li>
            {%- endif -%}
        {%- endfor -%}
      {%- endfor -%}
    </ul>

    {% if file %}
      {% set linkUrl = file %}
    {% else %}
      {% set linkUrl = url %}
    {% endif %}

    <p class="resource-download">
      <a class="button" data-has-icon href="{{ linkUrl }}">
        {%- if file -%}
          <span class="icon-animation download-animation">
            {% icon 'download-simple-arrow', 'card-download-arrow' %}
            {% icon 'download-simple-box' %}
          </span>
          Download
        {%- else -%}
          <span class="icon-animation learn-more-animation">
            {% icon 'learn-more-circle' %}
            {% icon 'learn-more-arrow', 'card-learn-arrow' %}
          </span>
          Learn more
        {%- endif -%}
      </a>
    </p>

  </div>
</div>