---
layout: layouts/default.njk
pageIndex: all
pagefind:
  type: story
---

<div class="page-banner" data-type="story" data-pagefind-filter="pageType:Story" style="--background: url('{{ image }}')">
  <div class="l-wrapper">
    <div class="l-stack-basic">
      <div class="nametag">
        <span class="nametag-badge subhead">{{ type }}</span>
        <div class="nametag-text">
          <h2 class="h1" data-pagefind-meta="title" data-pagefind-weight="9">{{ title }}</h2>
        </div>
      </div>
      <div class="page-topics" data-pagefind-weight="0.5">
        <h3 class="sr-only">Topics</h3>
        <ul>
          {%- for topic in collections.topics -%}
            {%- for tag in tags -%}
              {%- if topic.data.id == tag -%}
                <li><a href="{{ topic.url }}">{% icon topic.data.icon %} {{ topic.data.title }}</a></li>
                {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
        </ul>
      </div>
      <p class="subhead">Written by {{ author }} on {{ date | humanDate }}</p>
    </div>
  </div>

  {% if image %}<div class="page-banner-img"></div>{% endif %}
</div>

<div class="l-wrapper">
<div class="l-section">
<div class="l-wrapper-text">
<div class="l-stack">
      {{ content | md | safe }}
</div>
</div>
</div>
</div>

<div hidden>
  <span data-pagefind-meta="image">/images/stories/{{image}}</span>
</div>