---
layout: layouts/default.njk
pageIndex: all
pagefind:
  type: Story
image: /images/banners/story.jpg
---
{%- from '_macros/page-banner.njk' import pageBanner with context -%}
{%- from '_macros/resource-list.njk' import resourceList with context -%}
{%- from '_macros/story-list.njk' import storyList with context %}
{%- from '_macros/topic-card.njk' import topicCard with context%}

{{ pageBanner({
  header: title,
  hideSubheader: true,
  type: "story",
  badge: "Story",
  image: image,
  mask: "none",
  circle: "none",
  tags: tags,
  author: author,
  date: date,
  full: true
  })
}}

<div class="l-wrapper">
<div class="l-section">
<div class="l-wrapper-text l-center">
<div class="l-stack">
  {{ content | md | safe }}

  {{ resourceList({title: "Resources", resources: resources}) }}
</div>
</div>
</div>
</div>