---
layout: layouts/default.njk
pageIndex: all
pagefind:
  type: story
image: /images/banners/story.jpg
---
{%- from '_macros/page-banner.njk' import pageBanner with context -%}
{%- from '_macros/resource-card.njk' import resourceCard -%}
{%- from '_macros/topic-card.njk' import topicCard %}
{%- from '_macros/story-card.njk' import storyCard %}

{%- set resourceData -%}
  {%- for relatedResource in resources -%}
    {%- for item in collections.resources -%}
      {%- if item.data.title === relatedResource -%}
        {{ resourceCard({
          filetype: item.data.filetype,
          title: item.data.title,
          description: item.data.description,
          url: item.data.url,
          file: item.data.file
          })
        }}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endset -%}

{{ pageBanner({
  header: title,
  hideSubheader: true,
  type: "story",
  badge: "Story",
  image: image,
  mask: "none",
  circle: "none",
  tags: tags,
  author: author,
  date: date,
  full: true
  })
}}

<div class="l-wrapper">
<div class="l-section">
<div class="l-wrapper-text l-center">
<div class="l-stack">
      {{ content | md | safe }}

      {%- if resourceData !== "" -%}
      <h2>Resources</h2>
      {{ resourceData | safe }}
    {%- endif -%}
</div>
</div>
</div>
</div>