---
layout: layouts/default.njk
pageIndex: all
eleventyComputed:
  description: "{{ page.excerpt }}"
pagefind:
  type: Strategy
---
{%- from '_macros/page-banner.njk' import pageBanner with context -%}
{%- from '_macros/resource-list.njk' import resourceList with context -%}
{%- from '_macros/story-list.njk' import storyList with context %}
{%- from '_macros/topic-card.njk' import topicCard with context %}

{{ pageBanner({
  type: type,
  badge: "Strategy",
  header: title,
  tags: tags,
  full: true,
  hideSubheader: "yes"
  })
}}

<div class="l-wrapper">

<div class="l-section">
<div class="l-stack">
<div class="l-wrapper-text l-center">
  {{ content | md | safe }}

  {{ resourceList({title: "Resources", resources: resources}) }}

  {{ storyList({title: "Stories", stories: stories}) }}
</div>
</div>
</div>
</div>


</div>