---
layout: layouts/default.njk
eleventyComputed:
  description: "{{ summary }}"
pagefind:
  type: Page
  topic: noTopic
---

{%- from '_macros/story-card.njk' import storyCard %}

<div class="page-banner" data-type="topic" data-topic="{{ id }}">
  <div class="l-wrapper">
    <div class="l-stack-basic">
      <div class="nametag">
        <span class="nametag-badge subhead">Topic</span>
        <div class="nametag-text">
          {% icon icon %}
          <h2 class="h1">{{ title }}</h2>
        </div>
      </div>
      <p>{{ content | md | safe}}</p>
      <p><a href="/" class="page-banner-back subhead">{% icon "arrow-u-up-left" %} Back to all topics</a></p>
    </div>
  </div>
  {%- if image -%}
    <div class="page-banner-img" style="--background: url('{{ image }}')"></div>
  {%- endif -%}
</div>

<div class="l-wrapper">
  <div class="l-section">

    <h3>Strategies</h3>
    <ul class="l-stack-basic strategy-list">
    {%- for play in collections[id + '-strategies'] -%}
    <li class="strategy-card">
      <a href="{{ play.url }}">
        <span>{{ play.data.title }}</span>
        {% icon 'arrow-right' %}
      </a>
    </li>
    {%- endfor -%}
    </ul>

    {%- if collections[id + '-stories'].length -%}
      <h3>Stories</h3>
      <div class="l-grid story-list-wrapper">
      {%- for story in collections[id + '-stories'] -%}
        {{ storyCard({
              image: story.data.image,
              type: story.data.type,
              title: story.data.title,
              description: story.data.description,
              author: story.data.author,
              date: story.date,
              featured: false,
              url: story.url
            })
          }}
      {%- endfor -%}
      </div>
    {%- endif -%}

    {%- if collections[id + '-dashboards'].length -%}
      <h3>Dashboards</h3>
      <ul class="l-stack-basic strategy-list">
      {%- for dashboard in collections[id + '-dashboards'] -%}
        <li class="strategy-card"><a href="{{ dashboard.url }}"><span>{{ dashboard.data.title }}</span> {% icon 'arrow-right' %}</a></li>
      {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
  </div>
</div>

<span data-pagefind-meta="title" hidden>Topic: {{ title }}</span>